@charset "UTF-8";
/* CSS Document */

/* margin and padding reset */
html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
  	margin:0;
  	padding:0;
}

body {
	background-color:#663399;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	background:url(../img/bgbd.jpg) no-repeat;
}

p {
	padding:0px 0px;
	color:#ffffff;
	font-weight:bold;
}

td {
	padding:0px 0px;
	color:#ffffff;
	font-weight:bold;
	vertical-align:top;
}

cite {
	padding:0px 0px;
	color:#000066;
}

#bgim {
	position:absolute;
	left:410px;
	z-index:-3;
}

#box {
	overflow:hidden; 
	background-color:#663300;
	width:800px;
	height:566px;
	position:absolute;
	left:40px;
	top:40px;
	padding:2px;
}

#line {
	background-color:#000000;
	width:595px;
	height:3px;
	position:absolute;
	left:187px;
	top:94px;

}

#logo {
	position:absolute;
	left:60px;
	top:40px;
	z-index:1;
}

#me {
	position:absolute;
	left:65px;
	top:225px;
	z-index:1;
}

#navigation {
	position:absolute;
	left:720px;
	top:95px;
	z-index:4;
}

#navigation li {
	float:left; 
	color:#3399ff; 
	list-style:none; 
	padding:5px 10px;
	z-index:1;
}


#content {
	float:left;
	position:absolute;
	left:85px;
	top:115px;
	width:485px;
	text-align:justify;
	z-index:2;
}

#kaart {
	color:#663300;
}

#auto, #tram, #bus, #bus1, #company, #bodyauto, #bodytram, #bodybus, #bodybus1, #bodycompany {
	color:#000;
}


#galselect {
	position:absolute;
	top:200px;
	left:65px;
	width:200px;
}

#publist {
	background-color:#FFFFFF;
	position:absolute;
}

#publist p {
	font-weight:normal;
}

a:link, a:visited {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	color:#fff;
}

a:active {
	color:#fff;
}

label {
	color:#000066;
}

select, option {
	width: 200px;
}
