@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
  	margin:0;
  	padding:0;
	font-family:"Oxygen", sans-serif;
	color:#3F3F3F;
	font-size:20px;
}

hr {
	width:830px;
	border:0;
    height:0;
    border-top:1px solid #CCC;
	margin-left:20px;
	margin-top:80px;
	margin-bottom:0px;
}

p {
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
	line-height:180%;
}

h1 {
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
	font-size:1.0em;
	letter-spacing:-2px;
}

h2 {
	color:#1A720A;
}

h3 {
	font-size:.8em;
	font-weight:100;
	color:#1A720A;
}

h4 {
	font-size:.8em;
	font-weight:100;
}

h5 {
	font-size:.7em;
	font-weight:100;
	line-height:170%;
}

a {
	text-decoration:none;
}

a.cl_link:link, a:visited {
	color:#F60;
	-webkit-transition:color 0.1s; /* For Safari 3.1 to 6.0 */
    transition:color 0.1s;
}

a.cl_link:hover {
	color:#FC0;
}

#id_header {
	position:relative;
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-color:#1A720A;
	height:200px;
	width:95%;
	padding-left:5%;
}

#id_sc_logo {
	position:relative;
}

#id_navmenu {
	position:absolute;
	left:600px;
	top:17px;
}

#id_navsubmenu {
	position:relative;
	line-height:14px;
	left:-20px;
	top:14px;
	z-index:3;
	border-top:1px solid #39f;
	width:280px;
}

#id_navmenu li {
	float:left; 
	color:#000; 
	list-style:none; 
	padding:15px 20px;
	background-color:#39f;
	width:100px;
	height:23px;
	z-index:3;
	-webkit-transition: background-color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.1s;
}

#id_navmenu li:hover {
	color:#fff; 
	background-color:#00C;
}

#id_navsubmenu li {
	float:left; 
	color:#000; 
	list-style:none; 
	padding:15px 20px;
	background-color:#39f;
	width:240px;
	height:13px;
	z-index:3;
	-webkit-transition: background-color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.1s;
}

#id_navsubmenu li:hover {
	color:#fff;
	background-color:#00C;
}

#id_title {
	position:relative;
	width:95%;
	height:150px;
	background-color:#EEE;
	padding-left:5%;
	border-top:1px solid #CCC;
	border-bottom:1px solid #DDD;
}

#id_title_img {
	position:relative;
	margin-top:110px;
}

#id_img_wrapper {
	position:relative;
	width:95%;
	height:250px;
	background-color:#EEE;
	padding-left:5%;
	border-top:1px solid #CCC;
	border-bottom:1px solid #DDD;
	overflow:hidden;
}

#id_content {
	width:850px;
	position:relative;
	padding-left:5%;
}

#id_content_thin {
	width:580px;
	position:relative;
	padding-left:5%;
}

#id_art_img {
	position:absolute;
	min-height:250px;
	min-width:1024px;
	width:105%;
	margin-left:-5%;
}
	

#id_button {
	position:relative;
	width:160px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color:#fff; 
	padding:15px 20px;
	background-color:#F60;
	-webkit-transition: background-color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.1s;
}

#id_button:hover {
	color:#000; 
	background-color:#FC0;
}

#id_mailform {
	position:relative;
	width:375px;
	margin-left:auto;
	margin-right:auto;
	height:517px;
    display:none;
}

#id_mailform_thin {
	float:left;
	position:absolute;
	width:375px;
	padding-left:5%;
	left:650px;
	height:517px;
}

#fsc_ex_field2_1, #fsc_ex_field2_2, #fsc_ex_field2_3 {
	font-size:1em;
	width:100%;
	border:1px solid #ccc;
	padding:10px;
}

#fsc_captcha_code2 {
	width:175px;
	border:1px solid #ccc;
	padding:10px;
}

#fsc-submit-2 {
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color:#fff; 
	padding:15px 20px;
	background-color:#F60;
	border:0px;
	-webkit-transition: background-color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.1s;
	font-family:"Lato", sans-serif;
	font-size:20px;
}

#fsc-submit-2:hover {
	color:#000; 
	background-color:#FC0;
}

#id_inline_list {
	list-style-type:none;
}

#id_inline_list li {
	line-height:180%;
	padding-left:20px;
	display:inline-block;
	text-align:center;
	width:260px;
	vertical-align:top;
}

.dot {
	-webkit-border-radius:50%; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-moz-border-radius:50%; /* Firefox 1-3.6 */
	border-radius:50%; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	margin-right:5px;
	margin-bottom:10px;
	border:3px solid #000;
}

.cl_photo {
	-webkit-border-radius:50%; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-moz-border-radius:50%; /* Firefox 1-3.6 */
	border-radius:50%; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	width:64px;
	height:64px;
	margin-right:5px;
	margin-bottom:10px;
	border:3px solid #ccc;
}

#id_footer {
	position:relative;
	top:50px;
	width:95%;
	background-color:#EEE;
	padding-left:5%;
	padding-top:20px;
	padding-bottom:50px;
	border-top:1px solid #DDD;
}